# Database
DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "root"
DB_PASS = "root"
DB_DATABASE = "database"

# JWT
JWT_SECRET = ""
JWT_REFRESH_SECRET = ""

# Website
HOME_URL = "http://localhost:3000"
API_URL = "http://localhost:3000/api"

# Next Auth
NEXTAUTH_URL = "http://localhost:3000"
NEXTAUTH_SECRET = ""