// Fonts
$global-primary-font: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
$global-secondary-font: '';

// Backgrounds
$global-primary-color: #d6dbdc;
$global-secondary-color: '';